@import "@/assets/variables/color.scss";
@import "@/assets/variables/variables";


.button {
  cursor: pointer;
  padding: 12px 24px;
  color: white;
  font-size: $step4x;
  font-weight: 500;
  border-radius: $mainradius;


  &-pink {
    background-color: $pink;
    &:hover{
      opacity: .8;
    }
  }

  &-blue {
    background-color: $blue;
  }
}