$darkjunglegreen: #1e1e1e;
$gablegreen: #212121;
$hakí: #172327;
$slategray: #e1e1de;
$echoblue: #e1e1e1;
$solítude: #dee5f0;
$mystic: #e5eaf1;
$pink: #ff3c78;
$blue: #2241cf;
$gold: #f0b143;
$green: #4fc553;
$cian: #59d7c9;
$smoke: #f9f5f2;
$orange: #ffdec6;
$skyblue: #0069a4;